asgiref==3.11.0
attrs==25.4.0
Django==6.0
django-debug-toolbar==6.2.0
django-phonenumber-field==8.4.0
djangorestframework==3.16.1
drf-spectacular==0.29.0
inflection==0.5.1
iniconfig==2.3.0
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
packaging==25.0
phonenumbers==9.0.21
pluggy==1.6.0
psycopg==3.3.2
psycopg-binary==3.3.2
pycountry==24.6.1
Pygments==2.19.2
pytest==9.0.2
pytest-django==4.11.1
python-dotenv==1.2.1
PyYAML==6.0.3
referencing==0.37.0
rpds-py==0.30.0
sqlparse==0.5.5
typing_extensions==4.15.0
uritemplate==4.2.0
